/* Importerer Google Fonts (Fugaz One og Nunito) for bruk p친 nettsiden */

@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Nunito&display=swap');



/* CSS reset for 친 fjerne standard margin og padding p친 alle elementer */
*, *::after, *::before
{
    margin: 0; /* Fjerner standard margin */
    padding: 0; /* Fjerner standard padding */
    box-sizing: border-box; /* Setter box-sizing til border-box, s친 padding og border inkluderes i elementets totale bredde/h칮yde */
}

img
{
    display: block; /* Fjerner mellomrom rundt bilder ved 친 sette dem som blokkelement */
    max-width: 100%; /* S칮rger for at bildet aldri blir st칮rre enn sin foreldres bredde */
    height: auto; /* Beholder bildeforholdet ved endring av bredde */
}


input, button, textarea
{
    font: inherit;

}

/* variabler styling */

:root
{
    /* fonts */

    --FF: "Nunito", sans-serif;
    --FF-HEADINGS: "Fugaz One", cursive;
    --FS: clamp(1rem, 2.2vh, 1.5rem); /* starter p친 1rem, kan vokse til 2.2 h칮yde 
    og stopper p친 1.5rem i st칮rrelse max*/

   
    /* farger */

    --BGCOLOR: orange; /* bakgrunnsfarge */
    --BGCOLOR-FADE: rgb(252,220, 160);
    --BGIMAGE: linear-gradient(to bottom, var(--BGCOLOR), var(--BGCOLOR-FADE));
    --BODY--BGCOLOR: #fff;
    --FONT-COLOR: #000;
    --BORDER-COLOR: #333;
    --HIGHLIGHT-COLOR: rgb(51, 178, 51);
    --LINK-COLOR: #000;
    --LINK-HOVER: hsla(0,0%,0%, 0.6);
    --LINK-ACTIVE: orange;
    --HEADER-BGCOLOR: #000;
    --HEADER-COLOR: #FFF;
    --NAV-BGCOLOR: #FFF;
    --HERO-BGCOLOR: rgba(51, 178, 51, 0.75);
    --HERO-COLOR: #fff;




    /* border */

    --BORDERS: 1px solid var(--BORDER-COLOR);

    /* standard padding */

    --PADDING-TOPANDBOTTOM: 0.25em;
    --PADDING-SIDE: 2.5%;

    /* standard margin */

    --MARGIN: clamp(1em, 2.5vh, 1.5em) 0;



}

/* Utility-klasser */

/* Skjuler elementer fra visningen, men gj칮r dem tilgjengelige for skjermlesere */
.offscreen
{
    position: absolute; /* Plasserer elementet absolutt i forhold til n칝rmeste posisjonerte forelder */
    left: -100000px; /* Flytter elementet langt utenfor skjermen */
}

/* Hindrer at teksten brytes til en ny linje */
.nowrap
{
    white-space: nowrap; /* S칮rger for at innholdet vises p친 칠n linje uten linjeskift */
}

/* Sentrerer tekst horisontalt */
.center
{
    text-align: center; /* Sentrerer teksten inne i elementet */
}

/* generelt styling */

html
{
    scroll-behavior: smooth; /* har smooth scrolling p친 nettsiden */
    font-size: var(--FS); /* st칮rrelse p친 font */
    font-family: var(--FF); /* endrer font familiy */
    background-color: var(--BGCOLOR);
    background-image: var(--BGIMAGE);


}

/* styling for body */

body
{
    /* Setter bakgrunnsfargen for body-elementet til en CSS-variabel */
    background-color: var(--BODY--BGCOLOR); 
    
    /* Setter tekstfargen til en variabel */
    color: var(--FONT-COLOR); 
    
    /* S칮rger for at body har en minimumsh칮yde p친 hele skjermen (viewport height) */
    min-height: 100vh; 
    
    /* Maksimal bredde p친 800px for innholdet i body */
    max-width: 800px; 
    
    /* Setter topp- og bunn-margin til 0, og venstre/h칮yre til auto for 친 sentrere innholdet horisontalt */
    margin: 0 auto; /* Fjern komma, skal v칝re mellomrom mellom verdiene */
    
    /* Legger til venstre kantlinje ved bruk av variabelen --BORDERS */
    border-left: var(--BORDERS); 
    
    /* Legger til h칮yre kantlinje ved bruk av variabelen --BORDERS */
    border-right: var(--BORDERS); 
    
    /* Legger til en skygge rundt body-elementet med en uskarphet p친 10px */
    box-shadow: 0 0 10px var(--BORDER-COLOR); 


}


/* styling av h1, h2 og h3 */
h1, h2, h3 
{
    /* Setter fontfamilien for h1, h2 og h3 til verdien av variabelen --FF-HEADINGS */
    font-family: var(--FF-HEADINGS); 

    /* 칒ker mellomrommet mellom bokstavene (letter-spacing) til 0.1em */
    letter-spacing: 0.1em; 

    /* Legger til en margin nederst p친 1em for 친 skape avstand til neste element */
   /*  margin-bottom: 1em;  */

    /* Setter fargen p친 overskriftene til verdien av variabelen --HIGHLIGHT-COLOR */
    color: var(--HIGHLIGHT-COLOR); 
}


/* paragrafer styling */

p
{
    line-height: 1.5;

}

/* styling av linker */

a:any-link  /* gjelder for b친de links som ikke er trykket p친 og de som er  */
{
    color: var(--LINK-COLOR);


}

a:hover, a:focus-visible
{
    color: var(--LINK-HOVER);


}

a:active
{
    color: var(--LINK-ACTIVE);

}

/* header */

.header
{
    /* Gj칮r at headeren forblir p친 toppen av viewportet n친r du ruller nedover p친 siden */
    position: sticky; 
    
    /* Setter avstanden fra toppen av viewportet n친r headeren blir festet */
    top: 0; 
    
    /* Angir z-index for 친 s칮rge for at headeren vises over andre elementer med lavere z-index */
    z-index: 1; 
}


.header__h1
{
    /* Sentrerer teksten horisontalt i header__h1-elementet */
    text-align: center; 
    
    /* Setter bakgrunnsfargen til header__h1-elementet til verdien av variabelen --HEADER-BGCOLOR */
    background-color: var(--HEADER-BGCOLOR); 
    
    /* Setter fargen p친 teksten i header__h1-elementet til verdien av variabelen --HEADER-COLOR */
    color: var(--HEADER-COLOR); 
    
    /* Legger til padding (indre avstand) med verdier fra variablene */
    padding: var(--PADDING-TOPANDBOTTOM) var(--PADDING-SIDE); 
   
    /* Padding-verdiene er definert som:
       --PADDING-TOPANDBOTTOM: Padding p친 toppen og bunnen
       --PADDING-SIDE: Padding p친 venstre og h칮yre side */
}

.header__nav
{

    background-color: var(--NAV-BGCOLOR);
    border-bottom: var(--BORDERS);
    font-weight: bold;
    box-shadow: 0, 6px, 5px, -5px var(--BORDER-COLOR);

}

.header__ul
{
    /* Legger til padding (indre avstand) med verdier fra variablene */
    padding: var(--PADDING-TOPANDBOTTOM) var(--PADDING-SIDE); 
    
    
    /* Fjerner standard punkter eller nummerering fra listen */
    list-style-type: none; 
    
    /* Gj칮r listen til et fleksibelt beholder for horisontal plassering av elementene */
    display: flex; 
    
    /* Fordeler plass mellom elementene i listen jevnt */
    justify-content: space-evenly; 
    
    /* Legger til et mellomrom p친 1rem mellom elementene i listen */
    gap: 1rem; 
}

/* hero delen */

.hero 
{
    position: relative;


}

.hero__h2 /* denne gjelder bare p친 home delen av nettsiden */
{
    background-color: var(--HERO-BGCOLOR);
    color: var(--HERO-COLOR);
    padding: 0.25em 0.5em;
    text-shadow: 2px 2px 5px var(--BORDER-COLOR);
    position: absolute;
    top: -100px;
    left: 20px;
    animation: showWelcome 6s ease-in-out 0s forwards;


}

/* lager animasjon */

@keyframes showWelcome
{
    0% 
    {
        top: -20px;
        transform: skew(0deg, -5deg) scaleY(0);
    }

    80% /* Endre prosent til 50% for en langsommere oppbygning */
    {
        top: 15px; /* Juster top for en jevnere overgang */
        transform: skew(5deg, -5deg) scaleY(1.1);
    }

    100% 
    {
        top: 20px;
        transform: skew(0deg, -5deg) scaleY(0);
    }
}

/* footer styling */

.footer {

    /* Plasserer elementet nederst p친 siden eller i dets innebygde container */
    bottom: 0;

    /* Setter bakgrunnsfarge for footeren basert p친 en variabel (f.eks. --HEADER-BGCOLOR) */
    background-color: var(--HEADER-BGCOLOR);

    /* Setter tekstfargen for footeren basert p친 en variabel (f.eks. --HEADER-COLOR) */
    color: var(--HEADER-COLOR);

    /* Legger til litt ekstra plass (1px) over innholdet i footeren */
    padding-top: 1px;

    /* Legger til litt ekstra plass (0.1em) under innholdet i footeren */
    padding-bottom: 0.1em;

    /* Justerer tekstinnholdet i footeren slik at det er sentrert */
    text-align: center;
}


/* main */

.main
{
  padding: var(--PADDING-TOPANDBOTTOM) var(--PADDING-SIDE);

}

.main__article
{
    scroll-margin-top: 6.5rem;
    margin: var(--MARGIN); /*  definerer hvor mye avstand som skal v칝re mellom 
    elementet og dets n칝rliggende elementer */

}

.main__article:first-child
{
    margin-top: 1em; /* gjelder for f칮rste artikkel, og det gjelder for alle sider */
    
}
.main__article:last-child
{
    min-height: calc(100vh - 35rem); /* gjelder for siste artikkel, og det gjelder for alle sider */
    
}

/* about styling */


.about__trivia
{
    margin: var(--MARGIN);


}

.about__trivia-answer
{
    margin-top: 1em;

}

/* contatc */

.contact__h2
{
    margin: 0;

}

.contact__fieldset
{
    border: none;

}

.contact__p
{

    margin: 1em 0;
}

.contact__label 
{
    /* Viser elementet som en blokk (blokkelement tar hele bredden) */
    display: block;
    
    /* Gj칮r teksten fet (bold) */
    font-weight: bold;
}


.contact__input, .contact__texarea
{
    /* Definerer innvendig (padding) rundt innholdet */
    padding: 0.5em;
    
    /* Gj칮r kantene avrundet med en radius p친 15px */
    border-radius: 15px;
    
    /* Setter bredden p친 rammen til 2px */
    border-width: 2px;
    
    /* Setter bredden til 100% av containeren */
    width: 100%;
}



.contact__button 
{
    /* Definerer innvendig polstring (padding) rundt innholdet */
    padding: 0.5em;
    
    /* Gj칮r kantene avrundet med en radius p친 15px */
    border-radius: 15px;
    
    /* Setter bakgrunnsfargen ved 친 bruke en variabel (HIGHLIGHT-COLOR) */
    background-color: var(--HIGHLIGHT-COLOR);
    
    /* Definerer tekstfargen ved 친 bruke en variabel (HEADER-COLOR) */
    color: var(--HEADER-COLOR);
}

/* meny styling */


.menu__container 
{
    /* setter bredden til 100 % slik at tabellen fyller containeren */

    width: 100%;
    border-spacing: 0.5rem; /* mellomrom mellom celler */

    /* S칮rger for at tabellen ikke kollapser celler (det kan v칝re 칮nskelig i enkelte tabeller) */
    border-collapse: separate;

    text-align: left; /* putter teksten til venstre i tabellen */



}

.menu__header
{
    background-color: var(--HEADER-BGCOLOR);
    color: var(--HEADER-COLOR);
    padding: 0.75em 1em; /* legger til padding i cellene */
    font-weight: bold; /* gj칮r teksten bold */

    /* legger til ramme rund cellene */

    border-bottom: 2px solid var(--BORDER-COLOR);

}

.menu__item
{
     /* Definerer fargen p친 teksten i meny-elementene */
     color: var(--FONT-COLOR);
     padding: 0.75em 1em;
     border-bottom: 1px solid var(--BORDER-COLOR); /* legger til border under radene */

}

/* Tilpasser bredden p친 kolonnene */


.menu__container th:first-child, .menu__container td:first-child
{
    /* taco-kolonnen f친r 50% av bredden */
    width: 50%;

}

.menu__container th:nth-child(2), .menu__container td:nth-child(2)
{
    /* Quantity-kolonnen f친r 25% av bredden */
    width: 25%;

}

/* Fotnote i tabellen */
.menu__cs
{
    /* legger til padding */
    padding: 0.75em 1em;
    background-color: var(--BGCOLOR-FADE);
    text-align: center;
    font-weight: bold;

}



/* Legger til litt avstand rundt tabellen */
.menu__article {
    margin: 2em 0;
}


.menu__header, .menu__item
{
    width: 100%;
    padding: 1em;
    border: medium ridge var(--BORDER-COLOR);

    /* Sentrerer tekst og tall i cellene */
    text-align: center;        /* Horisontal sentrering */
    vertical-align: middle;    /* Vertikal sentrering */


}

@media screen and (min-width:576px)
{
    .header__h1::before
    {
        content: '游꺑 '

    }
    .header__h1::after
    {
        content: ' 游꺑'

    }
}


    